<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
      ChessGuide Android skeleton (PR #37).
      No camera permission is requested here. CameraX / camera permission
      start in a later PR (see android/README.md).
    -->

    <application
        android:allowBackup="true"
        android:label="ChessGuide Android"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChessGuide">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
